<html>
<head>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <%- include('partial/navbar') %>
    <div class="hero min-h-100px bg-base-200">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Toronto Weather Web </h1>
            <p class="py-6">Welcome to my weather forecasting web application. Hope you enjoy your day.</p>
          </div>
          </div>
        </div>
        <div id="forecastContainer">
            <%forecast.forEach((day)=>{%>
                <div class="card w-30 h-40 bg-base-100 shadow-xl">
                    <div class="card-body">
                      <h2 class="card-title"><%=day.dayName%></h2>
                      <p><%=day.dayName%> will have <%=day.precip%></p>
                      <p>High Forecast: <%=day.maxTemp%></p>
                      <p>Low Forecast: <%=day.minTemp%></p>
                    </div>
                    <figure><img src="<%=day.img%>"  alt="<%=day.precip%>" /></figure>
                  </div>
            <%});%>    
      </div>
</body>
</html>